header , .about , footer{
    background-color: #FDFDFD;
}
.articles{
    background-color: #F4F6F4;
}
.subscribe{
    background-color: #E2E6E1;
}
h1{
    color: #484D47;
}
h2 , h3{
    color: #AEB1AE;
}
h4 , h5 , h6{
    color: #6A6E69;
}